.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
li {
  list-style-type: none;
} 

.margin-section {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.img-rem {
  width: 23rem;
}
.logo-tec {
  width: 12rem;
}
.menu-rem {
  margin-left: 2rem;
}
.back-s {
  background: #100146;
}
.back-f {
  background: #E761FE;
}
.style-bk {
  color: #FCFFFF;
  font-weight: bold;
}
.bg-tec {
  background-color: #100146;
}
.my-link {

  font-weight: bold;
  text-decoration: none !important;
  color: #e761fe;
}
.ajunior {
  font-size: 1rem;
  text-decoration: none !important;
  font-weight: bold;
}

.card-video {
  background: #FAFAFA;
    min-height: 22rem;
    position: relative;
    padding: 30px 30px 20px;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.footer-wrap {
  background-color: #100146;
  padding-top: 30px;
  background-size: cover;
}

.footer-wrap h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-wrap p {
  font-size: 14px;
  line-height: 24px;
  color: #E761FE;
  margin-top: 15px;
}

.footer-wrap p a {
  color: #fff;
  text-decoration: underline;
  font-style: italic;
}

.footer-wrap p a:hover {
  text-decoration: none;
  color: rgb(14, 212, 24);
}

.footer-links li a {
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
}

.footer-category li a {
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
}

.address {  
  color: #fff;
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  line-height: 30px;
}

.info a {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.info a {

  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.copyright {
  border-top: 1px solid #fff;
  font-size: 14px;
  color: #FAFAFA;
  margin-top: 25px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.card-box {
  background: #FAFAFA;
  min-height: 22rem;
  position: relative;
  padding: 30px 30px 20px;
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.card-link a {
  text-decoration: none;
  color: #f8f9fa !important;
  font-size: 15px;
}
.btn-primary {
  color: #fff;
  background-color: #100146;
}
.card-box:after {
  display: block;
  background: #100146;
  border-top: 2px solid #E761FE;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.card-title h2 {
  margin: 0;
  padding-top: 5%;
  color: #6533E2;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 15px;
}

.card-title p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.card-link a {
  text-decoration: none;
  color: #100146;
  font-size: 15px;
}
@media only screen and (max-width: 980px){
  aside { display: none; }
}